# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
*.sqlite3
media/
staticfiles/

# Entornos locales
.env
.venv/
venv/
env/

# Node / React
node_modules/
frontend/node_modules/
dist/
build/

# Sistema operativo / editores
.DS_Store
Thumbs.db
.vscode/
.idea/